# Frontend Environment Variables
NODE_ENV=development #production
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8080

# Server (Backend)
PORT=8080
CORS_ORIGIN=http://localhost:3000

# Neon Database (cloud PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_yvIS9GQo8AMB@ep-flat-pond-a1dslem8-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Alternative database configuration (if DATABASE_URL is not used)
DB_NAME=fuel
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root

# JWT
JWT_SECRET=5hD8&72@sdHJ92jDhs!7sd83^jsdh@92hdHs82jd@!92Jdhs72@hdHs92jd82jsHD
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=83jdH@!29Hs72jsdH82jd@!92Hs72jd83^JDh!72@hsD82jd@!93jdH72
JWT_REFRESH_EXPIRES_IN=7d